@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
  animation: body-effect 0.8s ease-in-out;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li + li {
  margin-left: 30px;
  transform: translateX(-300%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}

.content img {
  text-align: center;
  display: flex;
  align-self: center;
  justify-self: center;
  max-width: 50%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

form {
  background-color: #f9f9f9;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.small-input {
  font-size: 1.2rem;
  width: 250px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #fff;
  border-radius: 10px;
  background-color: #444;
}

.input::placeholder {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.meduim-input {
  font-size: 1.2rem;
  width: 520px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #fff;
  border-radius: 10px;
  background-color: #444;
}

.big-input {
  font-size: 1.2rem;
  width: 520px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #fff;
  border-radius: 10px;
  background-color: #444;
  resize: none;
}

.submit-button {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #1962ff;
  border: none;
  outline: none;
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
}

.sub-button {
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}

@keyframes body-effect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}